* {
  box-sizing: border-box;
}

.container {
  padding: 5%;
}

header li {
  display: inline-block;
  font-family: 'Nixie One', cursive;
  font-size: 36px;
  line-height: 1.5;
  min-width: 30%;
  padding-bottom: 5%;
  text-align: left;
}

h1 {
  color: #f5b700;
  font-size: 24px;
  text-align: right;
}

h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.square {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  height: 400px;
  line-height:1.5;
  padding-right: 5%;
  width: 33%;
}

h2, h3 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 24px;
  padding-top: 5%;
}

p {
  font-size: 18px;
  padding-top: 2%;
  padding-bottom: 2%;
}

img {
  display: inline-block;
  filter: alpha(opacity=50);
  margin: 0 auto;
  opacity: 0.5;
  padding-top: 5%;
  width: 100%;
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

footer li {
  color: #2f2d2e;
  display: inline-block;
  font-family: 'Nixie One', cursive;
  font-size: 18px;
  padding: 0 100px;
  text-align: center;
}

footer {
  color: #2f2d2e;
  text-align: center;
  padding-top: 35px;
}

/* unvisited link */
a:link {
  color: #2F2D2E;
}

/* visited link */
a:visited {
  color: #f7c59f;
}

/* mouse over link */
a:hover {
  color: #f5b700;
  cursor: pointer;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #eff9f0;
}

@media only screen and (max-width:1024px) {
  /* For tablets: */
  .square {
    width: 100%;
    padding: 0;
  }

  header li {
    line-height: 1.4;
    width: 100%;
  }

  footer li {
    padding: 2% 0;
    width: 100%;
  }
}

img {
  padding-bottom: 20px;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .square {
    width: 100%;
    padding: 0;
  }

  header li {
    line-height: 1.2;
    margin: 0 1px;
}

  footer li {
    padding: 2% 0;
    width: 100%;
  }

  img {
    padding-bottom: 20px;
  }
}
