.container {
  margin: 0 auto;
  padding: 5%;
  text-align: center;
}

header li {
  display: inline-block;
  font-family: 'Nixie One', cursive;
  font-size: 32px;
  min-width: 30%;
  padding-bottom: 5%;
}

nav p {
  color: #f7c59f;
  font-family: 'Alfa Slab One', cursive;
  font-size: 36px;
  padding-bottom: 4%;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.description {
  width: 400px;
  height: 100px;
  display: inline-block;
  margin: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.paragraph {
  width: 400px;
  height: 100px;
  display: inline-block;
  margin: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h4 {
  color: #f7c59f;
  padding-top: 2%;
}

h5 {
  color: #2E3532;
  padding-bottom: 2%;
}

h4, h5 {
  font-family: 'Alfa Slab One', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  padding-bottom: 4%;
}

article {
  text-align: right;
}

footer {
  margin: 0;
  padding: 0;
}

footer li {
  display:inline-block;
  font-family: 'Nixie One', cursive;
  font-size: 20px;
  padding: 15px;
}

footer p {
  font-family: 'Alfa Slab One', cursive;
  font-size: 24px;
  float: center;
  padding-top: 4%
}
