
* {
  box-sizing: border-box;
}

header li {
  display: inline-block;
  font-family: 'Nixie One', cursive;
  font-size: 36px;
  min-width: 33%;
  padding-bottom: 5%;
}

nav p {
  color: #f7c59f;
  font-family: 'Alfa Slab One', cursive;
  font-size: 42px;
  padding-bottom: 4%;
}

section img {
  width: 67%;
}

.container {
  margin: 2%;
  text-align: center;
  width: auto;
}

span {
  font-family: 'Nixie One', cursive;
}

.description {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 100px;
  line-height: 1.4;
  margin: 2px;
  padding-top: 1.5%;
  text-align: center;
  vertical-align: top;
  width: 50%;
}

.paragraph {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 100px;
  margin: 2px;
  text-align: left;
  width: 500px;
}

h3 {
  padding-top: 5%;
  text-align: right;
  width: 75%;
}

h4 {
  color: #f7c59f;
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;
  padding-top: 2%;
}

h6 {
  color: #2e3532;
  font-family: 'Alfa Slab One', cursive;
  font-size: 24px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  padding-bottom: 5%;
}

footer {
  margin: 0;
  padding: 0;
}

footer li {
  display:inline-block;
  font-family: 'Nixie One', cursive;
  font-size: 20px;
  min-width: 25%;
  padding: 15px;
}

footer p {
  font-family: 'Alfa Slab One', cursive;
  font-size: 22px;
  padding-top: 4%
}

/* unvisited link */
a:link {
  color: #2F2D2E;
}

/* visited link */
a:visited {
  color: #f7c59f;
}

/* mouse over link */
a:hover {
  color: #f5b700;
}

/* selected link */
a:active {
  color: #eff9f0;
}

@media screen and (max-width:800px) {
  .container {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

@media screen and (max-width:500px) {
  .container {
    width: 100%;
  }
