.container {
  margin: 0 auto;
  padding: 5%;
  text-align: center;
}

header li {
  display: inline-block;
  font-family: 'Nixie One', cursive;
  font-size: 36px;
  min-width: 30%;
  padding-bottom: 5%;
}

nav p {
  color: #f7c59f;
  font-family: 'Alfa Slab One', cursive;
  font-size: 42px;
  padding-bottom: 4%;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.description {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 100px;
  line-height: 1.4;
  margin: 2px;
  text-align: left;
  vertical-align: top;
  width: 500px;
}

.paragraph {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 100px;
  margin: 2px;
  text-align: left;
  width: 500px;
}

h4 {
  color: #f7c59f;
  padding-top: 2%;
}

h5 {
  color: #2E3532;
  padding-bottom: 2%;
}

h4, h5 {
  font-family: 'Alfa Slab One', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  padding-bottom: 4%;
}

article, article p {
  font-family: 'Nixie One', cursive;
  font-style: italic;
  padding-bottom: 2%;
  text-align: right;
}

footer {
  margin: 0;
  padding: 0;
}

footer li {
  display:inline-block;
  font-family: 'Nixie One', cursive;
  font-size: 18px;
  min-width: 25%;
  padding: 15px;
}

footer p {
  font-family: 'Alfa Slab One', cursive;
  font-size: 22px;
  padding-top: 4%
}
